.select-wrapper {
  position: relative;
  margin: 5px 0;
  &::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
  }
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    &:focus {
      color: black;
    }
    &::-ms-expand {
      display: none;
    }
  }
}