.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border: 1px solid #b1aeae;
  text-align: center;
}

.filler {
  top: 0;
  background: rgb(152, 228, 11);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  position: absolute;
  z-index: -999;
}
